* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.dataForm {
  width: 585px;
  border: solid 1px #dadce0;
  padding: 68px 41px 34px 73px;
  border-radius: 11px;
  
}

.mainText {
  width: 251px;
  height: 29px;
  margin: 0 215px 13px 5px;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f2f2f;
}


.subText {
  width: 410px;
  height: 19px;
  margin: 13px 54px 27px 5px;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.radioGroup {
  width: 200px;
  height: 17px;
  margin: 28px 14.4px 23px 9.7px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}

.MuiInput-underline:before {
  border: none !important;
  transform: none !important;
  transition: none !important;
  border-bottom: none !important;
  content: none !important;
}

.MuiInput-underline:after {
  border: none !important;
  transform: none !important;
  transition: none !important;
  content: none !important;
}
